
.contextMenuSelectedItem {
    background-color: #0078D7;
    color:white;
    font-weight: bold;
}
.contextMenuSelectedItemLink {
    color:white;
}
.fabricTableThead{
    cursor: pointer;
    background-color: lightgray;
}

.fabricTableThead th{
    font-weight: 400;
}

.fabricTableTbodyTr{
    cursor: default;
    
}

.fabricTableTbodyTr:nth-child(even){
    background-color: #d3e9ff;
}

.fabricTableTbodyTr:hover{
    background-color: #b9d2eb;
    transition: background-color 0.3s ease;
}

.fabricTableTbody .fabricTableSelectedRow{
    background-color: #0078D7;
    color:white;
}
.fabricTableTbodyTdFound{
    color: red;
}

.fabricTableTable{
    border: 1px solid #0078D7;

}
.fabricTablePaggingWrapper{
    float: right;
}
.fabricTablePaggingWrapper button{
    width: 10px;
    
}