body, html{
    height: 100vh;
    width: 100%;
    margin: 0px;
    font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
*{
    box-sizing: border-box;
}

.documentWrapperGrid > *{
    /*    border-style: solid;
        border-width: 0.5px;
        border-color: #666;*/
}
.documentWrapperGrid{
    display: grid;
    grid-template-rows: 10% 85% 5%;
    grid-template-columns: 15% 85%;
    grid-template-areas: "header header"
        "aside content"
        "footer footer";
    height: 100%;
    width: 100%;
    background-color: #666666;
}

.header{
    grid-area: header;
    display:flex;
    flex-direction: column;
    padding-right: 2%

}
.headerUsername{
    margin: 0px;
    align-self: flex-end;
    justify-self: right;
}
.headerTitle{
    margin: 0px;
    padding: 10px 0 0 10px;

}

.aside{
    grid-area: aside;

}

.content{
    grid-area: content;
    background-color: white;
}

.footer{
    grid-area: footer;
}

.aside .ms-ContextualMenu.ms-ContextualMenu--hasIcons{
    width: auto;
    margin-left: 1px;
    background-color: #f4f4f4;
}
.ms-ContextualMenu .ms-ContextualMenu-item:hover{
    border-left: 3px solid #0078D7;
}
.ms-ContextualMenu .ms-ContextualMenu-item{
    border-left: 3px solid transparent;
}
.ms-CommandButton-button:focus:before{
    border-style: none;
}

.ms-ContextualMenu-link:active {
    background-color: transparent;
    color:transparent;
}

#homeAppoitmentTable{
    margin: 20px;
}